<div class="container">
  <div class="row">
    <div class="col s5">

      <div class="card">
        <div class="card-content">
          <form #formularioEmpleado="ngForm" (ngSubmit)="agregarEmpleado(formularioEmpleado)">

            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="empleadoService.empleadoSeleccionado._id" >

            <div class="row">
              <div class="input-field col s12">
                <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="empleadoService.empleadoSeleccionado.nombre" placeholder="Nombre">
              </div>

              <div class="input-field col s12">
                <input type="text" name="puesto" #puesto="ngModel" [(ngModel)]="empleadoService.empleadoSeleccionado.puesto" placeholder="puesto">
              </div>

              <div class="input-field col s12">
                <input type="text" name="oficina" #oficina="ngModel" [(ngModel)]="empleadoService.empleadoSeleccionado.oficina" placeholder="oficina">
              </div>

              <div class="input-field col s12">
                <input type="number" name="salario" #salario="ngModel" [(ngModel)]="empleadoService.empleadoSeleccionado.salario" placeholder="salario">
              </div>
              <div class="card-action">

                <div class="input-field col s12">
                  <button class="btn right" style="margin-left: 2px" (click)="limpiarForm(formularioEmpleado)" >Limpiar</button>
                  <button class="btn right">Guardar</button>
                </div>

              </div>

            </div>

          </form>
        </div>
      </div>

    </div>
    <div class="col s7">

      <table>
        <thead>
          <th>Nombre</th>
          <th>Puesto</th>
          <th>Oficina</th>
          <th>operaciones</th>
        </thead>
        <tbody>
          
          <tr *ngFor="let empleado of empleadoService.empleados" >
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.puesto}}</td>
            <td>{{empleado.oficina}}</td>
            <td>
              <a (click)="editarEmpleado(empleado)">
                <i class="material-icons">edit</i>
              </a>
              
              <a (click)="eliminarEmpleado(empleado)">
                  <i class="material-icons">delete</i>
                </a>
            </td>
          </tr>
          
        </tbody>
      </table>  


    </div>
  </div>
</div>
